h1{
    border: 5px solid green;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
h2{
    border: 6px solid red;
    text-align: right;
    text-transform: uppercase;
    background-image: linear-gradient(to right,yellow, green);

}


.pet{
    color: pink;
    border: 3px solid greenyellow;

}
ul{
    font-size: 20px;
    color: red;
    
}
.car{
    color: blue;
    font-size: 30px;
}
.cat{
    color: green;
}
.blue li{
    color: blue;
    text-shadow: 2px 2px 4px red;
    list-style: none;
    font-size: 25px;
}
.cat li{
    background-color: pink;
    margin-bottom: 10px;
}
img{
    display: block;
    margin-bottom: 10px;

}
div{
    background-color: pink;
    border-top: 10px solid black;
    border-bottom: 10px dashed black  ;
}
.urus{
    opacity: 0.5;
}
input{
    margin-top: 40px;
    border: 5px solid red;
    box-shadow: 3px 3px 4px black;
}
    
    

